@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Roboto+Slab&display=swap');
body{
    text-align: center;
    background-color: midnightblue;
    color: white;
    //padding: 5% 0;
    font-family: 'Roboto Slab', serif;
}
h1{
    font-family: 'Fredoka One', cursive;
}
input{
    text-align: center;
    //margin: 10px;
}
a{
    color:white;
}
.formTable{
    background-color: #0000007F;
    //padding: 20px;
    border-radius: 15px;
    //margin: auto;
    //min-width: 20%;
    //max-width: 90%;
}
input:placeholder{
    opacity: 50%;
}
input:focus::placeholder{
    opacity: 25%;
}
input:invalid:not(:focus){
    color: crimson;
}

.scoreDisplay{
    font-size: 150%;
    background: radial-gradient(circle, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%);
    border-radius: 15px;
}

.modal-content{
    color: black;
    background: midnightblue;
}

.gameTableRow{
	background: linear-gradient(0deg, rgba(0,0,255,.125) 0%, rgba(0,0,255,.25) 50%, rgba(0,0,255,.125) 100%);
    border-radius: 15px;
}

.displayNameButton{
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}